<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Housing Solutions</h1>
  <br><br>
<p>
  This is a one-stop solution for realtors and House hunters. Click on the button to get started!
</p>
  <br>
  <a href="/login" class="btn btn-lg btn-primary">Get Started!</a>
</div>

