<% if logged_in? %>
  <% if session[:role] == 'Realtor' && current_user.company_id == 1  %>
    <p> You can't view any houses. Register to or create a company first</p>
  <% else %>
  <% if session[:role] == 'House Hunter'%>
    <script type="text/javascript">
        window.location.href="/house_hunters/<%= current_user.id %>"
    </script>
  <% else %>
    <h1>New House</h1>

    <%= render 'form', house: @house %>
    <br>
    <div class="container">
      <div class="col-md-4 col-md-offset-5">
        <a href="javascript:history.back()" class="btn btn-default">Back</a>
      </div>
    </div>
  <% end %>
    <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>