<% if logged_in? %>
  <% if session[:role] == 'House Hunter'%>
    <script type="text/javascript">
        window.location.href="/house_hunters/<%= current_user.id %>"  // put your correct path in a string here
    </script>
  <% else %>
    <h1>New Company</h1>
    <%= render 'form', company: @company %>
    <br>
    <div class="container">
      <div class="col-md-4 col-md-offset-5">
        <a href="javascript:history.back()" class="btn btn-default">Back</a>
      </div>
    </div>
  <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>