<% if logged_in? %>
  <% if session[:role] == 'Realtor' %>
    <script type="text/javascript">
        window.location.href="/realtors/<%= current_user.id %>"
    </script>
  <% else %>
<h1>New Inquiry</h1>

<%= render 'form', inquiry: @inquiry %>

    <br>
    <div class="container">
      <div class="col-md-4 col-md-offset-5">
        <a href="javascript:history.back()" class="btn btn-default">Back</a>
      </div>
    </div>
  <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>